
# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/*
!uploads/.gitkeep

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS files
.DS_Store
Thumbs.db
